[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prance = ">=0.21.8.0"

[dev-packages]
mypy = ">=0.971"
wheel = ">=0.37.1"

[scripts]
lint = "mypy ./src"
build = "python setup.py sdist bdist_wheel"

[requires]
python_version = "3.9"
